#content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 

#content h3{
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 3rem;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#content a button {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 446px;
    height: 70px;
    background: #D9D9D9;
    border-radius: 5px;
}


#colecao{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.2rem;
}

.card {
    /* Card */
    width: 400px;
    padding: 1px;
    filter: drop-shadow(0px 4px 12.6px rgba(0, 0, 0, 0.25));
    background: #E2E2E2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.titulo {
    margin-top: 2rem;
    text-align: center;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-size: 20px;
    color: #BD00FF;
}

.card p {
    text-align: center;
}

.card img {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem ;
}

.card div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.minus {
    background-color: red;
    color: white;
}

.plus {
    background-color: green;
    color: white;
}

.delete {
    background-color: rgb(151, 36, 36);
    color: white;
}